@import "base";


.margin-right40{
  margin-right: 40px;
}
.item {
  border-width: 1px;
  border-top-color: rgba(0, 0, 0, .02);
  border-left-color: rgba(0, 0, 0,.02);
  border-right-color: rgba(0, 0, 0,.02);
  border-bottom-color: rgba(0, 0, 0,.02);

}

.item-pay {
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-password-div{
  margin-top: 50px;
  margin-bottom: 100px;
  width: 600px;
}
.input-password-div-border{
  border-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.7);
  border-left-color: rgba(0, 0, 0, 0.7);
  border-right-color: rgba(0, 0, 0, 0.7);
  border-bottom-color: rgba(0, 0, 0, 0.7);
}
.itemCheckedColor{
  background-color: $color_default_active;
}
.background-color-gay{
  background-color: #C8CDD6
}
