@import "base";

.row-line{
  height: 2px;
  margin-left:10px;
  margin-right:10px;
}
.row-line-void{
  margin-left:10px;
  margin-right:10px;
}
.margin-left40{
  margin-left: 40px;
}
.margin-left20{
  margin-left: 20px;
}
